body {
  font-family: Helvetica, Arial, sans-serif;
  width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
