.details__container {
  text-align: center;
}
.details__card:last-child {
  margin-bottom: 25px;
}

.details__info {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-style: italic;
}

.details__userpic {
  width: 120px;
  height: 120px;
}

.details__name {
  font-size: 1.5rem;
  font-weight: bold;
}

.details__nickname {
  font-size: 1.2rem;
}

.details__language {
  padding: 10px;
  font-size: 0.9rem;
}

.details__description {
  padding: 10px;
  margin: 0;
  padding-bottom: 0;
  font-style: italic;
  font-size: 1.1rem;
}
